PORT=<YOUR_BE_PORT>
MONGO_URI=<YOUR_MONGO_URI>
MONGO_DB=<YOUR_MONGO_DB>

# JWT
JWT_SECRET=<YOUR_JWT_SECRET_KEY>

# SMTP GMAIL
SMTP_HOST=<YOUR_SMTP_HOST>
SMTP_PORT=<YOUR_SMTP_PORT>
SMTP_USER=<YOUR_SMTP_HOST>
SMTP_PASS=<YOUR_SMTP_PASS>